<h6>Admin</h6>
<h3>Welcome {{name}}</h3>
<p>Your Orders my G wagwan</p>
{{> _add_btn}}
{{#if orders}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Date</th>
                <th>Status</th>
                <th>email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
                <tr>
                    <td><a href="/orders/{{_id}}">{{title}}</a></td>
                    <td>{{type}}</td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>{{user.email}}</td>
                    <td></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You haven't made any orders</p>

{{/if}}
