<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Here are your orders</p>
{{> _add_btn}}
{{#if orders}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
                <tr>
                    <td><a href="/orders/edit/{{_id}}">{{title}}</a></td>
                    <td>{{type}}</td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    {{#ifCond status "Not Started"}}
                        <td><span class="p-5 red dash-status">{{status}}</span></td>
                    {{else}}
                        {{#ifCond status "In Progress"}}
                             <td><span class="p-5 orange dash-status">{{status}}</span></td>
                        {{else}}
                            <td><span class="p-5 orange dash-status">{{status}}</span></td>
                        {{/ifCond}}
                    {{/ifCond}}
                    <td>
                        <div>
                        <a href="/orders/edit/{{_id}}" class="btn btn-float green darken-3">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/orders/{{_id}}" method= "POST" id = "delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn red darken-3" type="submit">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You haven't made any orders</p>

{{/if}}
