<div class="row">
    <div class="col m12">
        <h3>{{order.title}}
            <small>{{{editIcon order.user user order._id false}}}</small>
        </h3>
         <div class="card order">
            <div class="card-content" >
                 <span class="card-title">Customer:</span>
                    <div class="chip" style = "white-space: nowrap;">
                            <img src="{{order.user.image}}" alt="">
                            <a href="/orders/user/{{order.user._id}}">{{order.user.displayName}}</a>
                    </div>
            </div>
        </div>
        <div class="card order">
            <div class="card-content">
                <span class="card-title">Date:</span>{{formatDate order.createdAt 'MMMM Do YYYY, h:mm:ss a'}}
            </div>
        </div>
        <div class="card order">
            <div class="card-content">
                <span class="card-title">Type:</span>
                {{{order.type}}}
            </div>
        </div>
        <div class="card order">
            <div class="card-content">
                <span class="card-title">Description:</span>
                {{{order.description}}}
            </div>
        </div>
        <div class="card order">
            <div class="card-content">
                <span class="card-title">Status:</span>
                {{{order.status}}}
            </div>
        </div>
        <a href="/" class="btn red">Back</a>
    </div>
    
</div>