<div class="row">
    <div class="col m12">
             <h3>{{user.displayName}}</h3>
        <div class="card order">
            <div class="card-content">
                <span class="card-title">Contact:</span>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                     <a href="mailto:{{user.email}}" class="">{{user.email}}</a>
                </div>
               
            </div>
        </div>
        <div class="card order">
            <div class="card-content">
                <span class="card-title">PAST ORDERS:</span>
            </div>
        </div>
        {{#each orders}}
            {{#ifCond status "Not Started"}}
            <div class="col m12">
            <div class="card order col m8 s12 red lighten-3">
                <div class="col m8 card-content">
                        {{formatDate createdAt 'MMMM Do YYYY'}}
                        <span class="card-title">{{title}}: {{status}}</span>
                        {{{description}}}
                </div>
            </div>
            </div>
            {{/ifCond}}
            {{#ifCond status "In Progress"}}
            <div class="col m12">
            <div class="card order col m8 s12 orange lighten-3">
                <div class="card-content">
                    {{formatDate createdAt 'MMMM Do YYYY'}}
                    <span class="card-title">{{title}}: {{status}}</span>
                    {{{description}}}
                </div>
            </div>
            </div>
            {{/ifCond}}
            {{#ifCond status "Complete"}}
            <div class="col m12">
            <div class="card order col m8 green lighten-3">
                <div class="card-content">
                    {{formatDate createdAt 'MMMM Do YYYY'}}
                    <span class="card-title">{{title}}: {{status}}</span>
                    {{{description}}}
                </div>
            </div>
            </div>
            {{/ifCond}}
        {{/each}}
    </div>
    <div class="col">
            <a href="/" class="btn red">Back</a>
    </div>
</div>